/* Fundo escuro */
body {
    font-family: 'Iceland', sans-serif;
}
.modal-overlay{

    position:fixed;

    inset:0;

    background-image:url("https://github.com/No-Country-simulation/G9-BR-Team-19/blob/feature/frontend/frontend/assets/background.png?raw=true");

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

/* Caixa */

.auth-modal{

    width:900px;

    height:520px;

    display:grid;

    grid-template-columns:1fr 1fr;

    border-radius:18px;

    overflow:hidden;

    background:white;

    box-shadow:0 20px 70px rgba(0,0,0,.45);

}

/* ========================= */

.modal-left{

    background:rgba(50,55,76,.92);

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    padding:60px;

    text-align:center;

}

.modal-left h2{

    font-size:2rem;

    margin-bottom:20px;

}

.modal-left p{

    line-height:1.7;

    color:#d8d8d8;

    max-width:320px;
}

.modal-left img{

    width:170px;

    margin-top:50px;

}

/* ========================= */

.modal-right{

    position:relative;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:left;

    padding:60px;

}

.close-modal{

    position:absolute;

    top:18px;

    right:18px;

    background:none;

    border:none;

    font-size:28px;

    cursor:pointer;

}

.modal-right h1{

    font-size:3.2rem;

    margin-bottom:5px;

}

.modal-right span{

    font-size:.9rem;

    color:#999;

    margin-bottom:30px;

}

.modal-right a{

    color:#8B5CF6;

    text-decoration:none;

}

.modal-right form{

    width:100%;

    max-width:320px;

}

/* ========================= */

.input-group{

    display:flex;

    align-items:center;

    gap:12px;

    border:1px solid #CFCFCF;

    border-radius:30px;

    padding:0 16px;

    height:46px;

    margin-bottom:15px;

}

.input-group i{

    color:#8d8d8d;

}

.input-group input{

    flex:1;

    border:none;

    outline:none;

    background:none;

    font-size:.95rem;

}

/* ========================= */

.submit-btn{

    width:100%;

    height:46px;

    border:none;

    border-radius:30px;

    color:white;

    cursor:pointer;

    font-weight:600;

    background:linear-gradient(
        90deg,
        #3D0B78,
        #6124C9
    );
    font-family: 'Iceland', sans-serif;
    font-size:1.3rem;
    transition:.25s;

}

.submit-btn:hover{

    transform:translateY(-2px);

    box-shadow:0 8px 20px rgba(98,36,201,.35);

}